[Desktop Entry]
Encoding=UTF-8
Name=Fatzchain
Comment=Fatzchain P2P Cryptocurrency
Comment[fr]=Fatzchain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fatzchain, eşten eşe kriptografik sanal para birimi
Exec=fatzchain-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/fatzchain;
Categories=Office;Finance;
